{% extends "template.html" %}
{% block conteudo %}
      <form class="formularioAve" action="{{ url_for('criar') }}" method="post" enctype="multipart/form-data">

        <figure class="img thumbnail col-md-4 formularioImagem">
          <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo='foto_padrao.jpg') }}">
          <figcaption>
            <label class="fileContainer">
              Inserir(Substituir) Fotos
              <input type="file" name="arquivo" accept=".jpg">
            </label>
          </figcaption>
        </figure>

        <fieldset>
          {{ form.csrf_token() }}
          <div class="form-group inputBox" >
            {{ form.nome_popular.label(class="form-label") }}
            {{ form.nome_popular(class="form-control") }}
          </div>
          <div class="form-group inputBox">
            {{ form.especie.label(class="form-label") }}
            {{ form.especie(class="form-control") }}
          </div>
          <div class="form-group inputBox">
            {{ form.familia.label(class="form-label") }}
            {{ form.familia(class="form-control") }}
          </div>
          <div class="form-group buttons">
            {{ form.salvar(class="btn btn-primary") }}
            <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
          </div>
        </fieldset>
      </form>
{% endblock %}